* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    margin-top: 3em;
    background-color: rgb(165, 37, 37);
    color: white;
    display: flex;
    justify-content:space-between;
    padding-left: 1em;
    margin-bottom: 3em;
    align-items: center;
    position: relative;
    height: 4em;
    min-width: 700px;
    
}

.headshot {
    width: 8em;
    height: auto;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
   }

body {
    background-color:rgb(83, 89, 89)
}

.coded {
    font-size: 1.3em;
    margin-top: 1em;
    text-align: center;
    background-color: black;
    color: khaki;
    margin-left: 2em;
    margin-right: 2em;
    height: 3em;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}

.websites-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2em;
   
}

.image {
    width: 30em;
    height: auto;
    margin: 2em;
    display: flex;
}

h3 {
    text-align: center;
}

.CMS {
    font-size: 1.3em;
    margin-top: 1em;
    text-align: center;
    background-color:black;
    color: khaki;
    margin-left: 2em;
    margin-right: 2em;
    height: 4em;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    min-width: 500px;
}

.CMS-Websites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2em;
}
